doctype html

html
  
  include template/head.pug
  
  body.ems-login
    //Üye girişi yapılmışsa body'e ems-login classı atılması gerekiyor.
    
    include template/header.pug

    .uk-container.uk-container-center

      include template/slider.pug
      
      include template/new-products.pug
      
      include template/main-banner.pug

      include template/main-banner-v2.pug
    
    include template/footer.pug

    include template/script.pug