.prd-detail-wrapper{
    background: $white;
    border-bottom: 1px solid $grey-light;
    padding: 45px 0;
    .prd-detail-holder{
        display: flex;
        flex-wrap: nowrap;
        .prd-left{
            width: calc(100% - 414px);
            padding-right: 30px;
            .prd-slide{
                ul.uk-slideshow{
                    li{
                        max-height: 400px;
                        .uk-cover-background{
                            background-size: contain;
                        }
                    }
                }
                .uk-slidenav{
                    display: block;
                    color: $blue;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 30px;
                }
                .uk-dotnav > * {
                    padding-left: 10px;
                }
                .uk-dotnav-contrast > * > *{
                    width: 8px;
                    height: 8px;
                    background: $grey-lighter;
                    border:2px solid $grey-lighter;
                }
                .uk-dotnav-contrast > .uk-active > * {
                    background: $white;
                    border:2px solid #0688f4;
                    width: 8px;
                    height: 8px;
                }
            }
        }
        .prd-right{
            width: 414px;
            .prd-info{
                .prd-code{
                    @include GothamBook;
                    font-size: 14px;
                    line-height: 30px;
                    color: $blue;
                }
                .prd-name{
                    font-size: 20px;
                    line-height: 30px;
                    color: $black;
                }
                .piece-price{
                    color: $black;
                    .type{
                        @include GothamBook;
                        font-size: 14px;
                        margin-right: 15px;
                    }
                    .price{
                        font-size: 18px;
                    }
                }
                form{
                    margin: 25px 0;
                    .form-row{
                        display: flex;
                        align-items: center;
                        .col-1{
                            width: 20%;
                            display: flex;
                        }
                        .col-4{
                            width: 80%;
                            display: flex;
                        }
                        .col-75{
                            width: 75%;
                            display: flex;
                        }
                        .col-25{
                            width: 25%;
                            display: flex;
                        }
                        & + .form-row{
                            margin-top: 20px;    
                        }
                    }
                    .title{
                        font-size: 14px;
                        color: $blue;
                    }
                    .uk-form-row + .uk-form-row {
                        margin-top: 20px;
                    }
                    .uk-button-primary{
                        font-size: 18px;
                        padding: 10px 0;
                        border-radius: 5px;
                    }
                    .total-price{
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        > span{
                            @include GothamBook;
                            font-size: 14px;
                        }
                        .price{
                            @include Gotham;
                            font-size: 16px;
                        }
                    }
                    .inp{
                        width: 100%;
                        position: relative;
                        .counter-btn{
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            font-size: 9px;
                            color: #0067a5;
                            &.top-btn{
                                transform: translateY(-80%);
                            }
                            &.bottom-btn{
                                transform: translateY(-20%);
                                right: 19.5px;
                            }
                        }
                        input{
                            width: 100%;
                            border-radius: 5px;
                            border: 1px solid #dadfe3;
                        }
                    }
                }
                .point-desc{
                    @include GothamBook;
                    font-size: 14px;
                    color: $blue-lighteen;
                }
            }
            .gift-prd-wrapper{
                display: block;
                padding: 0 20px;
                margin-top: 28px;
                border: 1px solid #dadfe3;
                background: #fcfcfc;
                .title-wrp{
                    display: block;
                    font-size: 14px;
                    color: #0067a5;
                    border-bottom: 1px solid #dadfe3;
                    padding: 17px 0 14px;
                }
                .more-wrp{
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    color: #0090f1;
                    padding: 15px 0 20px;
                }
                .prd-list{
                    display: block;
                    .prd-item{
                        padding: 15px 0 30px;
                        border-bottom: 1px solid #dadfe3;
                        display: none;
                        .prd-img{
                            flex: 1;
                            text-align: center;
                            img{
                                max-height: 68px;
                            }
                        }
                        .prd-info{
                            flex:3;
                            .prd-code{
                                @include GothamBook;
                                font-size: 12px;
                                line-height: 17px;
                                color: #001a8c;
                            }
                            .title{
                                font-size: 14px;
                                line-height: 1.21;
                                color: #000000;
                            }
                            .prd-piece-price{
                                display: flex;
                                margin-top: 15px;
                                .pp-item{
                                    display: flex;
                                    flex-wrap: wrap;
                                    line-height: 1;
                                    .name{
                                        width: 100%;
                                        @include GothamBook;
                                        font-size: 12px;
                                        color: #000000;
                                    }
                                    .desc{
                                        font-size: 14px;
                                        position: relative;
                                        &.line-through:before{
                                            content: "";
                                            display: inline-block;
                                            position: absolute;
                                            width:100%;
                                            height: 1px;
                                            background: $black;
                                            top: 50%;
                                        }
                                    }
                                }
                            }
                        }
                        &:first-child{
                            display: flex;
                        }
                    }
                    &.opened{
                        .prd-item{
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

.select-gross{
    position: relative;
    width: 100%;
    > span{
        height: 50px;
        padding: 0 20px;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: solid 1px $grey-light;
        cursor: pointer;
        @include GothamBook;
        color: $grey-dark;
        font-size: 14px;
        &:after{
            content: '\e815';
            font-family: "fontello";
            font-size: 9px;
            color: $blue;
            
            position: absolute;
            right: 20px;
            top:50%;
            transform: translateY(-50%);
        }
        .gross-box{
            width: calc(100% - 20px);
        }
    }
    ul{
        width: 100%;
        position: absolute;
        z-index: -1;
        background: $body;
        border: 1px solid $grey-light;
        transition: all 0.2s cubic-bezier(0.8, 0, 0.5, 1);
        
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
        li{
            padding: 7.5px 20px;
            border-bottom: 1px solid $body;
            cursor: pointer;
            &.selected{
                background: $body;
            }
            &:last-child{
                border: 0 !important;
            }
        }
    }
    &.opened{
        > span{
            border-radius: 5px 5px 0 0;
        }
        ul{
            visibility: visible;
            opacity: 1;
            height: auto;
            overflow: auto;
            top: calc(100% - 1px);
            z-index: 1;
            background: $white;
        }
    }
}

.select-gross{
    .gross-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .gross-wrp{
            font-size: 14px;
            color: #444444;
            line-height: 1.2;
            .name{
                display: block;
                @include Gotham;
            }
            .piece{
                @include GothamBook;
            }
        }
        .price{
            @include GothamBook;
            font-size: 14px;
            color: #444444;
        }
    }
}



.select-color{
    position: relative;
    width: 100%;
    > span{
        height: 50px;
        padding: 0 20px;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: solid 1px $grey-light;
        cursor: pointer;
        @include GothamBook;
        color: $grey-dark;
        font-size: 14px;
        &:after{
            content: '\e815';
            font-family: "fontello";
            font-size: 9px;
            color: $blue;
            
            position: absolute;
            right: 20px;
            top:50%;
            transform: translateY(-50%);
        }
        .color{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 5px;
        }
    }
    ul{
        width: 100%;
        position: absolute;
        z-index: -1;
        background: $body;
        border: 1px solid $grey-light;
        transition: all 0.2s cubic-bezier(0.8, 0, 0.5, 1);
        box-shadow: 0px 1px 1px $body;
        
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
        li{
            padding: 7.5px 20px;
            border-bottom: 1px solid $body;
            cursor: pointer;
            .color-box{
                
                display: flex;
                align-items: center;
                .color{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    border-radius: 5px;
                }
            }
            &.selected{
                background: $body;
            }
        }
    }
    &.opened{
        > span{
            border-radius: 5px 5px 0 0;
        }
        ul{
            visibility: visible;
            opacity: 1;
            height: auto;
            overflow: auto;
            top: calc(100% - 1px);
            z-index: 1;
            background: $white;
        }
    }
}

.cl-green{ background: $green; }
.cl-blue{ background: $blue; }



//product-text
.prd-text-wrapper{
    background: $white;
    padding: 40px 0;
    border-top: 1px solid $grey-light;
    .prd-text-holder{
        padding: 0 100px;
        .prd-item{
            display: flex;
            flex-wrap: nowrap;
            padding: 30px 0;
            .desc{
                flex: 4;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: left;
                padding: 0 10px;
                .title{
                    display: block;
                    font-size: 18px;
                    color: $black;
                    margin-bottom: 20px;
                }
                .text{
                    @include GothamBook;
                    font-size: 16px;
                    line-height: 1.38;
                    color: $grey-dark;
                }
            }
            .img{
                flex: 6;
                padding: 0 10px;
                img{
                    width: 100%;
                }
            }
            &:nth-child(odd){
                direction: rtl;
            }
        }
    }
}

.zoom-gallery{
    .zoom-gallery-header {
        width: calc(100% - 60px);
        max-width: initial;
        border-bottom: 1px solid #dadfe3;
        margin: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        line-height: 1.05;
        color: #0067a5;
        a.close-btn {
            position: absolute;
            right: 0;
            font-size: 0;
            i:before {
                content: '\e81a';
                font-family: "fontello";
                font-size: 22px;
                font-style: initial;
            }
        }
    }
    .thumbs-wrapper{
        li{
            border: solid 1px #c4d6e1;
            width: initial;
            &.active{
                border: solid 1px #0067a5 !important;
            }
        }
    }
    .swiper-zoom-container{
        cursor: -webkit-zoom-in;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #f4f7fa;
        border: 2px solid #dee6eb;
        &:before{
            font-family: "fontello";
            font-style: normal;
            font-size: 14px;
            font-size: 300;
            color: #0020af;
        }
    }
    .swiper-button-next{
        right: 40px;
        &:before{
            content: '\e813';
        }
    }
    .swiper-button-prev{
        left: 40px;
        &:before{
            content: '\e812';
        }
    }
}

@media screen and (max-width:960px){
    .zoom-gallery{
        .zoom-gallery-header {
            width: initial;
            font-size: 0;
            border-bottom: 0;
            a.close-btn {
                position: initial;
            }
        }
        .thumbs-wrapper{
            left: 20px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }

    .product-detail-holder{
        display: flex;
        flex-direction: column;
        .prd-detail-wrapper{
            order: 1;
        }
        .prd-text-wrapper{
            order: 2;
        }
        .prd-carousel-wrp{
            order: 3;
            margin-bottom: 50px;
            .uk-container{
                padding: 0;
                .new-product-cr-wrapper{
                    padding: 35px 25px 0;
                }
            }
        }
    }

    .prd-detail-wrapper{
        padding-bottom: 0;
        .prd-detail-holder{
            flex-wrap: wrap;
            .prd-left{
                width: 100%;
                padding: 0 0 40px 0;
                margin-bottom: 20px;
                border-bottom: 1px solid $grey-light;
                .uk-sticky-placeholder{
                    height: auto !important;
                }
                .prd-slide{
                    ul.uk-slideshow{
                        li{
                            max-height: 230px; 
                        }
                    }
                    .uk-dotnav{
                        margin-left: 0;
                        bottom: initial;
                    }
                }
            }
            .prd-right{
                width: 100%;
                .prd-info{
                    .piece-price{
                        .type{
                            @include Gotham;
                        }
                    }
                    
                }
                .gift-prd-wrapper{
                    margin: 28px -25px 0;
                    border: 0;
                    border-top: 1px solid #dadfe3;
                    .prd-list{
                        .prd-item{
                            .prd-img{
                                flex: 2;
                            }
                        }
                    }
                }
            }
        }
    }
    .prd-text-wrapper{
        padding: 0;
        border: 0;
        .prd-text-holder{
            padding: 0;
            margin: 0 -25px;
            .prd-item{
                direction: ltr;
                flex-direction: column-reverse;
                padding: 0;
                .img{
                    padding: 0;
                }
                .desc{
                    padding: 20px 20px;
                    .title{
                        font-size: 20px;
                        line-height: 1.5;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}


