#adressSelection.uk-modal.ems-modal.order-address-modal
    .uk-modal-dialog.uk-modal-dialog-large
        a.uk-modal-close.uk-close
        .modal-header
            .title Siparişin Teslim Edileceği Adres

        .modal-container
            
            .add-new-address
                a.uk-button-primary.btn-address(href="javascript:void(0)") Yeni Adres Ekle

            ul.address-list
                li
                    div
                        span.mti İş Adresim
                        span.title BATI KIRTASİYE BİLG.SAN.LTD.ŞTİ.

                        span.authorized Yetkili: Ahmet Çelik
                        span.address Şekerpınar Mah. Yanyol Sok. No:7 TR-41480 Çayırova - Kocaeli / TR

                        span.phone 0212 3546 58 68
                    div
                        a.btn-edit(href="javascript:void(0)") Düzenle
                    div
                        a.btn-select(href="javascript:void(0)") SEÇ
                li
                    div
                        span.mti İş Adresim
                        span.title BATI KIRTASİYE BİLG.SAN.LTD.ŞTİ.

                        span.authorized Yetkili: Ahmet Çelik
                        span.address Şekerpınar Mah. Yanyol Sok. No:7 TR-41480 Çayırova - Kocaeli / TR

                        span.phone 0212 3546 58 68
                    div
                        a.btn-edit(href="javascript:void(0)") Düzenle
                    div
                        a.btn-select(href="javascript:void(0)") SEÇ