#dealerChange.uk-modal.ems-modal.dealer-change-modal
    .uk-modal-dialog.uk-modal-dialog-large
        a.uk-modal-close.uk-close
        .modal-header
            .title Bayi Değişikliği

        .modal-container
            
            .warning-desc Bayi degişikliği gerçekleştiginde sepetinizde aşagıda belirtilen ürünler silinecektir.

            ul.basket-item
                li
                    .prd-img
                        img(src="images/13.jpg")

                    .prd-info
                        .code EM346387
                        .title Eclipse Mekanik Kursun Kalem

                    .prd-piece
                        .price
                            i.lira ₺
                            span 0,85
                        .piece  12
                    
                    .prd-price
                        .prd-piece-calc
                            span.type Gross x
                            span.price
                                i.lira ₺
                                span 14,95
                        .price
                            i.lira ₺
                            span 78,99
                li
                    .prd-img
                        img(src="images/13.jpg")

                    .prd-info
                        .code EM346387
                        .title Eclipse Mekanik Kursun Kalem

                    .prd-piece
                        .price
                            i.lira ₺
                            span 0,85
                        .piece  12
                    
                    .prd-price
                        .prd-piece-calc
                            span.type Gross x
                            span.price
                                i.lira ₺
                                span 14,95
                        .price
                            i.lira ₺
                            span 78,99
                li
                    .prd-img
                        img(src="images/13.jpg")

                    .prd-info
                        .code EM346387
                        .title Eclipse Mekanik Kursun Kalem

                    .prd-piece
                        .price
                            i.lira ₺
                            span 0,85
                        .piece  12
                    
                    .prd-price
                        .prd-piece-calc
                            span.type Gross x
                            span.price
                                i.lira ₺
                                span 14,95
                        .price
                            i.lira ₺
                            span 78,99
            .go-on
                a.uk-button-primary.btn-confirm(href="javascript:void(0)") ONAYLA
