#dealer.uk-modal.ems-modal.dealer-modal
    .uk-modal-dialog.uk-modal-dialog-large
        a.uk-modal-close.uk-close
        .modal-header
            .title Bayi Seçiniz

        .modal-container

            .dealer-info
                i.dealer-ico.icon-store
                span.cold Bayi
                span.dealer-name BATI KIRTASİYE BİLG.SAN.LTD.ŞTİ.
            
            .uk-flex.uk-flex-center
                .dealer-search
                    input.dealerSearch(type="text" placeholder="Bayi ara")
                    a.btn-search(href="javascript:void(0)"): i.icon-arrow-right

            ul.dealer-list
                li.selected
                    div
                        span.title BATI KIRTASİYE BİLG.SAN.LTD.ŞTİ.
                        span.location Ümraniye, İstanbul
                    div
                        a.btn-select(href="javascript:void(0)") SEÇ
                li
                    div
                        span.title BATI KIRTASİYE BİLG.SAN.LTD.ŞTİ.
                        span.location Ümraniye, İstanbul
                    div
                        a.btn-select(href="javascript:void(0)") SEÇ
                li
                    div
                        span.title BATI KIRTASİYE BİLG.SAN.LTD.ŞTİ.
                        span.location Ümraniye, İstanbul
                    div
                        a.btn-select(href="javascript:void(0)") SEÇ