#login.uk-modal.ems-modal.login-modal
    .uk-modal-dialog.uk-modal-dialog-large
        a.uk-modal-close.uk-close
        .modal-container
            .login-form-wrapper.uk-flex.uk-flex-center.uk-text-center
                form.uk-form
                    fieldset
                        .logo
                            img(src="images/logo.png")
                        .uk-form-row
                            input.uk-width-1-1(type="text" name="user" id="user" placeholder="Kullanıcı Kodu")
                        .uk-form-row
                            input.uk-width-1-1(type="password" name="passw" id="passw" placeholder="Şifre")
                        .uk-form-row
                            button.uk-button.uk-button-secondary.uk-width-1-1(type="submit") GİRİŞ
                        .uk-form-row.m-t-40
                            a.new-sign(href="javascript:void(0)") Yeni Başvuru