#success-add-basket.uk-modal.ems-modal.info-msg-modal
    .uk-modal-dialog.uk-modal-dialog-medium
        
        a.uk-modal-close.uk-close

        .modal-container
            .info-msg-container
                .status-msg
                    .msg-icon
                        img(src="images/icons/alert-success.svg")
                    .msg-text Ürün sepete eklendi
                .btn-holder
                    a.continue-shopping ALIŞVERİŞE DEVAM ET
                    a.uk-button-secondary SEPETE GİT