// FOOTER START

footer.adel-footer
  .uk-container.uk-container-center
    .uk-flex.uk-flex-middle.uk-flex-center
      .uk-width-1-1.uk-width-large-3-4
        .footer-menu.uk-grid
          .uk-width-1-1.uk-width-large-2-4
            span.title Kategoriler
            span.m-title(data-uk-toggle="{target: '#fmC-01', cls:'opened'}") Kategoriler
            
            ul.categories#fmC-01
              li  
                a(href="javascript:void(0)") Tüm Ürün Grupları
              li
                a(href="javascript:void(0)") Boyama Grubu
              li
                a(href="javascript:void(0)") Çanta Grubu
              li
                a(href="javascript:void(0)") Dosyalama Grubu
              li
                a(href="javascript:void(0)") Hobi/Eğlence Grubu
              li
                a(href="javascript:void(0)") İşaterleme Grubu
              li
                a(href="javascript:void(0)") Kağıt Grubu
              li
                a(href="javascript:void(0)") Ofis Grubu
              li
                a(href="javascript:void(0)") Oyuncak
              li
                a(href="javascript:void(0)") Sanat Grubu
              li
                a(href="javascript:void(0)") Teknik Grubu
              li
                a(href="javascript:void(0)") Yazım Grubu
          .uk-width-1-1.uk-width-large-1-4
            span.title Markalar
            span.m-title(data-uk-toggle="{target:'#fmC-02', cls:'opened'}") Markalar
            ul#fmC-02
              li  
                a(href="javascript:void(0)") Tüm Markalar
              li
                a(href="javascript:void(0)") Adel
              li
                a(href="javascript:void(0)") Adeland
              li
                a(href="javascript:void(0)") Faber-Castell
              li
                a(href="javascript:void(0)") OEM
              li
                a(href="javascript:void(0)") Graf Von Faber-Castell
          .uk-width-1-1.uk-width-large-1-4
            span.title Hakkımızda
            span.m-title(data-uk-toggle="{target:'#fmC-03', cls:'opened'}") Hakkımızda
            ul#fmC-03
              li  
                a(href="javascript:void(0)") Hakkımızda
              li
                a(href="javascript:void(0)") İnsan Kaynakları
              li
                a(href="javascript:void(0)") Gizlilik Politikası
              li
                a(href="javascript:void(0)") İletişim

    .foter-bottom.uk-width-1-1.uk-width-large-3-4
      .social-media.uk-flex.uk-flex-center
        a(href="javascript:void(0)").facebook: i.icon-facebook
        a(href="javascript:void(0)").twitter: i.icon-twitter
        a(href="javascript:void(0)").youtube: i.icon-youtube
        a(href="javascript:void(0)").instagram: i.icon-instagram
        
      .copyright.uk-flex.uk-flex-center Copyright &reg;2017 Adel, tüm hakları saklıdır.