// HEADER START

header.adel-header

    .header-top

        .uk-container.uk-container-center

            .uk-flex.uk-flex-space-between.uk-flex-wrap-middle

                .left-content
                    .dealers
                        i.icon-account
                        span.name Batı Kitap Kırtasiye Bilg.San.Ltd.Sti
                        a.uk-button.uk-button-primary.btn-change Değiştir

                .right-content
                    .account
                        a.btn-account Murat Özdemir
                            i.icon-account
                        a.btn-signin Üyelik
                            i.icon-account
                        
                    a.btn-basket Sepetim
                        i.icon-cart
                            i.basket-count 3
    nav.adel-nav-bar.uk-navbar.uk-navbar-attached
        .uk-container.uk-container-center
            a.uk-navbar-brand.logo
                img(src="images/menu-logo.png").uk-margin.uk-margin-remove
            a.nav-menu-mobile
                i.icon-grid-list
            .menu-wrapper
                .menu-header
                    span Kategori
                    a.nav-menu-mobile-close
                        i.icon-close
                ul.uk-navbar-nav.menu
                    li
                        a(href="javascript:void(0)") Ürünler
                        .subMenu-wrapper
                            .subMenu
                                ul  
                                    li  
                                        a(href="javascript:void(0)") Tüm Ürün Grupları
                                    li
                                        a(href="javascript:void(0)") Boyama Grubu
                                    li
                                        a(href="javascript:void(0)") Çanta Grubu
                                    li
                                        a(href="javascript:void(0)") Dosyalama Grubu
                                    li
                                        a(href="javascript:void(0)") Hobi/Eğlence Grubu
                                    li
                                        a(href="javascript:void(0)") İşaterleme Grubu
                                    li
                                        a(href="javascript:void(0)") Kağıt Grubu
                                    li
                                        a(href="javascript:void(0)") Ofis Grubu
                                    li
                                        a(href="javascript:void(0)") Oyuncak
                                        .wrapper.sv1
                                            ul 
                                                li
                                                    a(href="javascript:void(0)") Tüm Markalar
                                                li 
                                                    a(href="javascript:void(0)") Adel
                                                    .wrapper.sv2
                                                        ul
                                                            li
                                                                a(href="javascript:void(0)") Tüm Ürünler
                                                            li
                                                                a(href="javascript:void(0)") Defter
                                                            li
                                                                a(href="javascript:void(0)") Fon Kartonu
                                                            li
                                                                a(href="javascript:void(0)") Grapon
                                                            li
                                                                a(href="javascript:void(0)") Karışık Set
                                                li
                                                    a(href="javascript:void(0)") Adeland
                                                li
                                                    a(href="javascript:void(0)") Faber-Castell
                                                li
                                                    a(href="javascript:void(0)") OEM
                                                li
                                                    a(href="javascript:void(0)") Graf Von Faber-Castell
                                    li
                                        a(href="javascript:void(0)") Oyuncak 2
                                        .wrapper.sv1
                                            ul 
                                                li
                                                    a(href="javascript:void(0)") Tüm Markalar 2
                                                li 
                                                    a(href="javascript:void(0)") Adel 2
                                                    .wrapper.sv2
                                                        ul
                                                            li
                                                                a(href="javascript:void(0)") Tüm Ürünler
                                                            li
                                                                a(href="javascript:void(0)") Defter
                                                            li
                                                                a(href="javascript:void(0)") Fon Kartonu
                                                            li
                                                                a(href="javascript:void(0)") Grapon
                                                            li
                                                                a(href="javascript:void(0)") Karışık Set
                                                li 
                                                    a(href="javascript:void(0)") Adel 3
                                                    .wrapper.sv2
                                                        ul
                                                            li
                                                                a(href="javascript:void(0)") Tüm Ürünler 3
                                                            li
                                                                a(href="javascript:void(0)") Defter 3
                                                            li
                                                                a(href="javascript:void(0)") Fon Kartonu 3
                                                            li
                                                                a(href="javascript:void(0)") Grapon 3
                                                            li
                                                                a(href="javascript:void(0)") Karışık Set 3
                                                li
                                                    a(href="javascript:void(0)") Adeland 2
                                                li
                                                    a(href="javascript:void(0)") Faber-Castell 2
                                                li
                                                    a(href="javascript:void(0)") OEM 2
                                                li
                                                    a(href="javascript:void(0)") Graf Von Faber-Castell 2
                                    li
                                        a(href="javascript:void(0)") Sanat Grubu
                                    li
                                        a(href="javascript:void(0)") Teknik Grubu
                                    li
                                        a(href="javascript:void(0)") Yazım Grubu
                                    li
                                        a(href="javascript:void(0)") Markalar
                                
                    li
                        a(href="javascript:void(0)") Yeni Ürünler
                    li
                        a(href="javascript:void(0)") Blister
                    li
                        a(href="javascript:void(0)") Standlar
                    li
                        a(href="javascript:void(0)") İskontolu Ürünler
                    
            .uk-navbar-content.uk-navbar-flip.p-0.search-bar-wrapper
                form.uk-form.uk-margin-remove.uk-display-inline-block
                    .page-search
                        input( type="text", name="search", id="search", placeholder="Ürün kodu ile ara")
                        button( type="button", name="submit").submit
                            i.icon-search
                    .ems-search-suggestion
                        .ems-search-suggestion
                            .suggestion-wrapper