.main-banner-wrapper
    ul.banner-list
        li
            a(href="javascript:void(0)")
                img(src="images/06.jpg")
                .uk-overlay-panel.title-wrapper
                    span.title Boyama Grubu
        li
            a(href="javascript:void(0)")
                img(src="images/08.jpg")
                .uk-overlay-panel.title-wrapper
                    span.title Çanta Grubu
        li
            a(href="javascript:void(0)")
                img(src="images/07.jpg")
                .uk-overlay-panel.title-wrapper
                    span.title Tüm Ürün Grupları
        li
            a(href="javascript:void(0)")
                img(src="images/09.jpg")
                .uk-overlay-panel.title-wrapper
                    span.title Dosyalama Grubu
        li
            a(href="javascript:void(0)")
                img(src="images/10.jpg")
                .uk-overlay-panel.title-wrapper
                    span.title Hobi/Eğlence Grubu