.prd-text-wrapper
    .uk-container.uk-container-center
        .prd-text-holder
            .prd-item
                .desc
                    .title Eclipse Mekanik Kursun Kalem Özellikler
                    .text - Lorem ipsum dolor sit amet, conset - Consectetur Sed do eiusmod tempor  - Ut labore et dolore magna aliqua. Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                .img
                    img(src="images/11.jpg")

            .prd-item
                .desc
                    .title Eclipse Mekanik Kursun Kalem Özellikler
                    .text - Lorem ipsum dolor sit amet, conset - Consectetur Sed do eiusmod tempor  - Ut labore et dolore magna aliqua. Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                .img
                    img(src="images/12.jpg")
    